extends layout

block content
    h1= title
    p Earphone results
    div(class="container-fluid")
        div(class="row")
            -
                let earphones = results
            div(class="container-fluid")
                div(class="row m-1")
                each earphone in earphones
                    - let destination = `dispatch(\"/earphones/update?id=${earphone._id}\")`
                    div(class="row-sm-2" class="m-1") Earphone #{earphone.brand}(#{earphone.earbudsModel}) is #{earphone.jackMM}
                        button.btn( class="btn-primary ml-1", onclick= destination) Update

                script.                
                    function buy(intemNo)
                    {
                        alert(`you purchased Item ${intemNo+1}`)
                    }
                script.
                    function dispatch(path)
                    {
                        window.location.href=path
                    }