extends layout
block content
 h1= title
 - let earphonesid = toShow._id
 - let earphones_brand = toShow.brand
 - let earphonesearbudsModel = toShow.earbudsModel
 - let earphonesjackMM = toShow.jackMM
 div
 div.row
 div(class='earphonesAttr mr-3') Earphones ID is:
 div #{earphonesid}
 div.row
 div(class='earphonesAttr mr-3') Earphones brand is:
 div #{earphones_brand}
 div.row
 div(class='earphonesAttr mr-3') Earphones earbuds model is:
 div #{earphonesearbudsModel}
 div.row
 div(class='earphonesAttr mr-3') Earphones jackmm is:
 div #{earphonesjackMM}